.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.nav li:hover .dropdown-menu {
    visibility: visible;
    display: block;
}

/*.nav:hover .dropdown-menu {
    display: block;
}*/