@import url("fonts.css");

/* Resets*/
body, section, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

/* Global Styles */
h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}

h2 {
	font-size: 24px;
	font-weight: 400;
}

h3 {
	font-size: 20px; 
	font-weight: 500;
}

h4 {
	font-size: 16px; 
	font-weight: 400;
}

body {
	font-family: 'Omnes';
}

a {
	color: #009fdb;
}

p {
	line-height: 150%;
}

/*Nav Bar Header*/

.logo img {
	width: 200px;
	margin: 5px 0 0 20px;
}

.navbar-header{
	background-color: black;
	height: 60px;
	display: flex;
	align-items: center;
}

.logoSpan {
	padding: 10px;
}

.logoSpan img {
	width: 227;
	height: 33;
}

#menuIcon {
    display: none;
    cursor: pointer;
    padding-right: 20px;
    margin-left: auto;
    margin-top: 3px;
}

.bar1, .bar2, .bar3 {
    width: 28px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.navbar-full > li{
  right: 0;
}

.navbar-full > li > a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.alwaysHover, .navbar-full > li.dropdown:hover > a{
  background-color: #00a3e0;
}

@media (min-width: 1015px){
	.navbar-full{
	    list-style-type: none;
	    display: inline-flex; !important;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    margin-left: auto;
	}
  .navbar-full > li.dropdown .dropdown-menu { 
/*    visibility: hidden; */
    position: absolute;
    width: 100%; 
    padding-top: 10px;
    text-align: center; 
    left:0; 
    right:0; 
    background-color: #00a3e0;
    height: 30px; 
  }

  .dropdown-menu>li { 
    display: table-cell; 
  }

  .dropdown-menu>li>a {
  	text-decoration: none;
  	padding: 0 10px 0 10px;
  }
}

@media (max-width: 1015px){
	.navbar-header{
		background-color: black;
		display: table;
    	width: 100%;
	}

	#menuIcon{
		display: inline-block;
		float: right;
	}

  .navbar-full{
		display: none;
		float: none;
		margin-left: none;
	}

	.navbar-full > li{
	  right: 0;
	}

	.navbar-full > li > a{
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

  .navbar-full > li.dropdown .dropdown-menu { 
    position: absolute;
    visibility: hidden;
    width: 100%; 
    text-align: center; 
    left:0; 
    right:0; 
    background-color: #00a3e0;
    height: 30px; 
  }
}

.dropdown-menu>li>a {
  color: #fff;
  background: #00a3e0;
  vertical-align: -webkit-baseline-middle;
}

.dropdown-menu-fixed {
	position: fixed !important;
	top: 0;
}

.registerAnchor:hover{
  background-color: black;
}

.registerBtn {
  padding: 5px 7px 5px 7px;
  border: 2px solid #1496d6;
  color:#1496d6;
}

.registerBtn:hover{
  background: #1496d6;
  color: white;
}

/* Buttons */
.button {
	padding: 17px 30px 13px 30px;
	border: 4px solid #000;
}

a.button {
	text-transform: uppercase;
	font-size: 16px;
	text-decoration: none;
}

a.button:hover{
	color: white;
	background-color: #009fdb;
}



/* Home */
.hero-overlay img {
	width: 100%;
	display: block;
}

.hero-overlay {
	position: relative;
}

.hero-overlay-2 {
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	left: 0;
}

.hero-overlay-2 img{
	width: 100%;
	display: block;
}

.hero-images {
	position: absolute;
	top: 0;
	z-index: 0;
}

.hero-images img{
	width: 33.33%;
	display: block;
	float: left;
}

.intro {
	text-align: center;
	padding: 80px 0 80px 0;
}

.intro p{
	padding: 0 0 20px 0;
}
.intro img {
	margin: 0 auto;
}

.middle {
	text-align: center;
	padding-bottom: 80px;
}

#home .section-blue h2 {
	text-align: center;
	padding: 80px 0 80px 0;
}

.scheduleButton:hover{
	color: #009fdb !important;
	background-color: white !important;
}

/* Sections */

	/* Section Blue */

	.section-blue {
		background-color: #009fdb;
	}

	.section-blue p, .section-blue h2, .section-blue a, .section-blue b, .section-blue i {
		color: #fff;
	}

	.section-blue h3 {
		color: #000;
	}

	.section-blue a{
	}

	.section-blue .button{
		border-color: #fff;
	}

	/* Section White */

	.section-white {
		background-color: #fff;
	}

	.section-white h2, .section-white b, .section-white i {
		color: #fff;
	}

	.section-white p, .section-white a, .section-white h3 {
		color: #000;
	}

	.section-white .button{
		border-color: #000;
	}

	/* Section Black */

	.section-black {
		background-color: #000;
	}

	.section-black p, .section-black  h2, .section-black  a, .section-black b, .section-black i {
		color: #009fdb;;
	}

	.section-black h3 {
		color: #fff;
	}

	.section-black a {
	}

	.section-black .button{
		border-color: #009fdb;
	}

	/* Sectoin Gray */

	.section-gray {
		background-color: #eeeeee;
	}

	.section-gray p, .section-gray  h2, .section-gray  a, .section-gray b, .section-gray i {
		color: #000;
	}

	.section-gray a {
		color: #009fdb;
	}

	.section-gray .button{
		border-color: #009fdb;
	}

/* Tiles */

	/* Tiles Home */

	.tiles-home {
		width: 900px;
		height: auto;
		margin: 0 auto;
	    display: flex;
	    display: -webkit-flex;
	    display: -moz-flex;
	    flex-flow: row wrap;
	    -webkit-flex-flow: row wrap;
	    -moz-flex-flow: row wrap;
	    align-content: stretch;
	    justify-content: space-between;
	}

	@media (max-width: 920px){
		.tiles-home {
			width: 480px;
		}

		.tile-home{
			margin: 0 auto;
			display: block;
		}
	}


	.tile-home {
		box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
		position: relative;
		width: 415px;
		height: 415px;
		margin-bottom: 80px;
		border: 7px solid #fff;
	}

	.tile-home-info {
		width: 50%;
		height: 196px;
		float: left;
		border-bottom: 7px solid #fff;
	}

	.tile-home-info h3{
		margin: 10px 0 0 10px;
		color: #fff;
	}

	.tile-home-info h4{
		margin: 0 0 0 10px;
		color: #000;
	}

	.tile-home-image {
		width: 50%;
		float: right;
	}

	 .tile-home-image img {
		width: 100%;
		height: auto;
	}

	.tile-home-overlay {
		position: absolute;
		top: -7px;
		right: -10px;
		width: 215px;
		height: 215px;
		background-repeat: no-repeat;
	}

	.tile-home-overlay-1 {
		background-image: url('../images/tiles/tile1.png');
	}

	.tile-home-overlay-2 {
		background-image: url('../images/tiles/tile2.png');
	}

	.tile-home-overlay-3 {
		background-image: url('../images/tiles/tile3.png');
	}

	.tile-home-overlay-4 {
		background-image: url('../images/tiles/tile4.png');
	}

	.tile-home p{
		clear: both;
		padding: 5px 10px 10px 10px;
	}

/*Speakers*/
.centerContent{
	text-align: center;
}

.speakersHeader{
	display: flex;
    align-items: center;
    padding: 40px 0 20px 0;
}

.speakersHeader>h3{
	margin-left: 75px;
    font-size: 36px;
}

.speakersHeader>img{
	width: 200px;
    margin-left: auto;
    margin-right: 75px;
}

.speakers-key-header{
	text-align: left;
	max-width: 860px;
	border-bottom: solid 1px #ffffff;
	color: #fff;
	font-size: 24px;
	padding-top: 80px;
	margin: 0 170px 43px 170px;
}

.speakers-key-container{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 860px;
    margin: 0 170px 0 170px;
    padding-bottom: 77px;
}

.speaker-key-container{
	margin: 10px;
}

.speaker-key-container>img{
	width: 150px;
	height: 150px;
}

.speaker-key-container>div{
	text-align: left;
	font-weight: 18px;
}

.speakers-additional-header{
	text-align: left;
    margin-left: 170px;
}

.speakers-additional-list{
	list-style: none;
	margin-left: 130px;
}

.speakers-additional-container{
	max-width: 860px;
}

.speakers-additional{
	overflow: hidden;
	border-top: solid 1px black;
    padding: 40px 0 40px 0;
    max-width: 860px;
}

.speakers-additional img{
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 20px;
}

.speakers-additional p{
	text-align: left;
	font-size: 18px;
	width: 727px;
	padding: 5px 0 0 120px;
	line-height: 27px;
}

.speaker-name{
	color: black;
	text-align: left;
	font-size: 24px;
}

.speaker-title{
	color: #3ea0d6;
	text-align: left;
}

/* Footer */
.stayInTouch>label>input {
	padding: 6px;
    border: 1px solid ffffff;
    box-sizing: border-box;
    background: white;
    width: 445px;
    height: 60px;
    background-color: #ffffff;
    font-family: OmnesATTII-Italic;
    font-size: 18px;
    color: #8d8d8d;
    font-style: italic;
    text-indent: 10px;
}

.stayInTouchButton{
	width: 121px;
    height: 60px;
    background-color: #009fdb;
    font-family: OmnesATTIIMedium;
    font-size: 18px;
    color: #ffffff;
    margin-left: -3px;
    border: 0;
}

.stayInTouchButton:hover{
	cursor: pointer;
}

.sponsorButtons{
	text-align: center;
	padding-bottom: 80px;
}

.sponsorButton{
	border-color: #009fdb !important;
	color: #009fdb !important;
}

.sponsorButton:hover{
	color: white !important;
}

.button-social{
	height: 55px;
	width: 55px;
	margin-left: 10px;
}

.button-facebook {
	background-image: url('../images/facebook.png');
	background-repeat: no-repeat;
	background-position: center 6px;
}

.button-facebook:hover{
	background-position: center -37px;
}

.button-twitter {
	background-image: url('../images/twitter.png');
	background-repeat: no-repeat;
	background-position: center 10px;
}

.button-twitter:hover{
	background-position: center -33px;
}

footer {
	background-color: #fff;
	color: #000;
}

footer h2{
	text-align: center;
	padding: 80px 0 40px 0;
}

footer form {
	text-align: center;
	padding: 0 0 40px 0;
}

img.footer-logo {
	display: block;
	margin: 80px auto;
}

footer p {
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 0 0 40px 0;
	font-size: 12px;
}

/* Overrides */

.color-white {
	color: #fff;
}

.color-blue {
	color: #009fdb;
}

.color-black {
	color: #000;
}

.padding-top-0{
	padding-top: 0 !important;
}


