$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// App Styling Constants
$SiteMinWidth: 1000px;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  font-family: Helvetica Neue, Arial, sans-serif;
}

body {
  padding: 0;
  min-width: $SiteMinWidth;
}

/*Globals*/
.padding-bottom{
  padding-bottom: 100px;
}

.highlighted {
  background: yellow
}

.centerAlign{
  text-align: center;
}

.rightAlign{
  text-align: right;
}

.rounded-button-blue{
  background: #2266A3;
  color: #A7BBCD;
  border-style: none;
  border-radius: 15px;
  width: 100px;
  height: 30px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  position: relative;
  background: #33E6FA;
  height: 60px;
  border-bottom: 1px solid #e5e5e5;
  min-width: $SiteMinWidth;

  #logo {
    position: absolute;
    top: 10px;
    left: 20px;
  }

  #title {
    position: absolute;
    width: 100%;
    font-size: 32px;
    color: #ffffff;
    top: 5px;
  }


  #logout-container,
  #user-container {
    position: absolute;
    right: 25px;
    top: 10px;
    cursor: pointer;

    i, a {
      font-size: 14px;
      color: #A6D5F7;
      font-weight: bold;
    }
    i {
      font-size: 18px;
    }
  }

  #logout-container {
    top: 32px;
    right: 50px;
  }

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  height: 60px;
  color: #458CCC;
  font-size: 12px;
  border-top: 1px solid #e5e5e5;
  background-color: rgba(51, 51, 51, 1);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: table;

  &>div{
    display: table-cell;
    vertical-align: middle;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

.footer .container{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 35%;

  a{
    color: #458CCC;
    padding-right: 10px;
    padding-top: 5px;

    &:hover{
      color: white;
      text-decoration: none;
    }
  }

  p{
    padding-top: 5px;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.color-green {
  color: #009900;
}

.color-orange {
  color: #E8944C;
}

#label-table{
  width: 100%;

  td {
    border: 1px solid black;
    height: 30px;
    width: 30px;
  }
}

#vitals-table{
  border-collapse: collapse;
  text-align: center;

  td {
    border: 1px solid black;
    height: 30px;
    width: 30px;
  }
}

.titles-container{
  height: 100vh;
  width: 50vh;
  background: lightblue;
}

.vitals-container{
  height: 100vh;
  width: 224vh;
  background: lightgoldenrodyellow;
}
